@model SignInSheetViewModel

<a> Areas of Pain or Concern </a>
<div>
    <canvas id="myCanvas" width="300" height="300"></canvas>
</div>

<a> Select the number that best describes your pain or condition </a>
@Html.DropDownListFor(
    m => m.SelectedPainScale,
    new SelectList(Model.PainScales/*, "Id", "Name"*/),
    "Select Pain Scale",
    new { @class = "form-control" }
)

<div>
    @Html.LabelFor(m => m.Comments)
    @Html.TextAreaFor(m => m.Comments, new { @class = "form-control" })
</div>

<div>
    @Html.LabelFor(m => m.PatientName)
    @Html.TextBoxFor(m => m.PatientName, new { @class = "form-control" })
</div>

<div>
    <a >Signature</a>
    
</div>

<div>
    <canvas style="background-color:grey" id="signatureCanvas" height="50"></canvas>
</div>

<div>
    <button id="submitBtn" type="button" class="btn-primary"> Submit </button>
    <button id="clearBtn" type="button" class="btn-danger"> Clear </button>
</div>


